.navbar {
    background-color: #2B4721;
}

.navbar-brand {
    font-weight:200;
    color: white;
}

.nav-item {
    font-size: 1.1rem;
    color: white;
}

.dropdown-menu {
    background-color: #1E1E1E;
}

.dropdown-item {
    font-size: 1.1rem;
    color: white;
}

.dropdown-item:focus {
    background-color: gray;
    color: black;
} 

.dropdown-item.active {
    background-color:white;
    color: black;
}

.dropdown-item.active:hover {
    background-color: gray;
    color: black;
}

.dropdown-item.active:focus {
    background-color: gray;
    color: black;
}

.dropdown-divider {
    color: black;
    border-width: medium;
}

.carousel-control-prev-icon 
{
    width: 80px;
    height: 80px;
}
    
.carousel-control-next-icon
{
    width: 80px;
    height: 80px;
}

.heading{
    font-family: 'Imprima', sans-serif;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.image-title {
    position: relative;
    text-align: center;
    color: white;
}

.location-title {
    position: absolute;
    top:10%;
    left: 5%;
    font-family: 'Imprima', sans-serif;
}

.location-subtitle {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: 'Imprima', sans-serif;
}

.carousel-caption:hover {
    transform: scale(1.1);
}

.carousel-caption{
    transition: transform 0.5s;
}

.body-section {
    background-color: #1E1E1E;
}

#poem {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
}

.map-container {
    background-color: #1E1E1E;
    display: flex;
}

#map {
    height: 500px;
    width: 60%;
    border-style: solid;
    border-color: black;
    margin-left: 5%;
    /* margin-right:10%; */
}

#map-subheading {
    margin-left: 10%; 
}

h1 {
    color: white; 
    text-align: center;
}

p {
    color: white;
}

#locations {
    color: white;
    margin-left: 4%;
    align-self: center;
    width: 25%;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

.leaflet-marker-icon:hover {
    color: yellow;
}

.footer {
    background-color: #292929;
}

.footer-text {
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.footer-text p {
    color: white;
}

.firefly-info{
    background-color: #131313;
}

.card:hover {
    transform: scale(1.1);
}


.card {
    background-color: #292929;
    max-width: 60%;
    height: auto;
    left: 22%;
    color: white;
    border-style: solid;
    border-color: grey;
    transition: transform 0.5s;
}

#card-img {
    width: 100%;
    height: 100%;
}

#species-name {
    font-style: italic;
}

.accordion-item {
    background-color: #292929;
    color: white;
}

#conservation-intro {
    width: 40%;
    color: white;
}

.firefly-fact {
    color: white;
    text-align: center;
}

.firefly-info h3 {
    font-style: italic;
    color: white;
    text-align: center;
}

.firefly-fact p {
    margin-bottom: 0rem;
}

.fact-box {
    background-color: #b63737;
    width: 30%;
    margin: auto;
    margin-top: 2%;
}

#firefly-counter {
    font-size: 5.0rem;
    padding: 0;
    margin: 0;
}

.video-div {
    display: flex;
    justify-content: center;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 70%;
}

.card-body {
    align-items: stretch;
}
