.navbar {
    background-color: #819B14;
}

.navbar-brand {
    font-weight:200;
}

.nav-item {
    font-size: 1.1rem;
}

.carousel-control-prev-icon 
{
    width: 80px;
    height: 80px;
}
    
.carousel-control-next-icon
{
    width: 80px;
    height: 80px;
}

.map-container {
    background-color: #1E1E1E;
}

#map {
    height: 500px;
    margin-left:auto; 
    margin-right:auto;
}

